
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th-"http://www.thymeleaf.org">
<head>
<title>Users</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> <script
src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">CRUD</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="users">UserList</a>
			</li>
		  </ul>
		</div>
	  </nav>
<div class="container">
<h2>Merhaba</h2>
<div class="alert alert-info">
<strong>SAYFAYA GIT!</strong> Veri tabanı işlemlerinin (CRUD) yapıldığı sayfa. <a href="users" class="btn btn-primary">User List</a>
</div>
</div>
<div class="row">
<div class="col-sm-3">
</div>
<div class="col-sm-3">
<h3>KULLANILAN TEKNOLOJİLER</h3>
<p>*JPA/Hibernate</p>
<p>*SPRING MVC</p>
<p>"Mysql</p>
<p>Thymeleaf</p>
<p>*Jboss</p>
<p>*Maven</p>
<p>*Boostrapt</p>
<p>*Tomcat 8</p>
</div>
<div class="col-sm-3">
<h3>MIMARI YAPI (KATMANLAR)</h3> <p>-View</p>
<p>-Controller</p>
<p>-Servis</p>
<p>-DAO/Repository</p>
<p>-Entity/Domain</p>
</div>
<div class="col-sm-3">
</div>
</div>
</body> </html>